<% if logged_in? %>
<h1>タスク一覧</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <span><%= task.user.name%></span> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <p><%= link_to task.id, task %> <%= task.status %> &gt; <%= task.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @tasks %>
</ul>
  
  
  <%= link_to "新規作成ページ", new_task_path%>
<% else %>
<div class="text-center">
<h1>Log in</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary btn-block' %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>
<% end %>